:root {
  /* https://coolors.co/palette/edae49-d1495b-00798c-30638e-003d5b */
  --color0: #edae49ff;
  --color0_dark: #ca8e2c;
  --color0_light: #f2c87aff;
  --color1: #d1495bff;
  --color1_dark: #a83244;
  --color1_light: #e17b8cff;
  --color2: #00798cff;
  --color2_dark: #005c6b;
  --color2_light: #4ba3baff;
  --color3: #30638eff;
  --color3_dark: #1f4a5d;
  --color3_light: #5c8fa8ff;
  --color4: #003d5bff;
  --color4_dark: #002b44;
  --color4_light: #4d6e8aff;

  --text_light: #f2f2f2ff;
  --text--dark: #1a1a1aff;

  --dot-bezier-color: var(--color0);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Code Pro", monospace;
  font-size: 1.6rem;
  color: var(--text_light);
  background-color: var(--color4_dark);

  /* disable highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overflow: hidden;
}

#background {
  /* height: 100vh;
  background: repeat radial-gradient(#00193b99 9%, transparent 9%);
  background-position: 0% 0%;
  background-size: 50px 50px; */
}

#input-image-label {
  text-align: center;
  display: block;

  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  margin: 0 auto;
  width: max-content;
  background-color: var(--color1);
  border-radius: 5px;

  margin: 1rem auto;

  padding: 1rem;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#input-image-label:hover {
  background-color: var(--color1_light);
}
#input-image {
  display: none;
}

#input-image-preview {
  pointer-events: none;
  display: block;
  margin: 0 auto;

  max-width: 45vw;
  max-height: 90vh;

  display: none;
}

#dots-area {
  pointer-events: none;
  position: relative;
  display: block;
  background-color: black;

  max-height: 90vh;
  max-width: 90vw;

  margin: 0 auto;

  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5rem;

  /* cool blue filter */
  /* filter: sepia(100%) hue-rotate(180deg) saturate(1000%) brightness(100%); */
}

.preview-images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1;
  grid-gap: 1rem;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#colored-checkbox-label {
}
#colored-checkbox-label input {
}

#dot-size-bezier {
  height: 5rem;
  width: 20rem;

  background-color: var(--color3_dark);
  position: relative;

  border-radius: 5px;
  border: 1px solid var(--color3_light);
}
#dot-size-bezier--canvas {
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.dot-size-bezier--canvas-overflow {
  overflow: hidden;
  width: 100%;
  height: 100%;

  border-radius: inherit;
}
.bezier-point {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--color0);
  opacity: 0.5;
}
.bezier-point:hover {
  opacity: 1;
}

.slider--input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: 5px;
  background-color: var(--color3_dark);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider--input:hover {
  opacity: 1;
}
.slider--input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color0);
  cursor: pointer;
}
.slider--input::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  background-color: var(--color0);
  cursor: pointer;
}

@media (width < 1000px) {
  /* .preview-images {
    grid-template-columns: 1fr;
  }

  #input-image-preview {
    max-width: 90vw;
    max-height: 90vh;
  }

  #dots-area {
    max-width: 90vw;
    max-height: 90vh;
  } */
}

.hidden {
  display: none !important;
}
